*{
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: rgb(255,255,255);
    text-decoration: none;
}
.logo{
    width: 70%;
    height: 130px;
    margin: 0 auto;
    padding-top: 7px;
}
.sublogo{
    width: 50%;
    height: 70px;
    float: right;
    margin-right: -330px;
}


.information{

    width: 100%;
    height: 1150px;
    background-size: cover;
    margin-top: -55px;
    background-repeat: no-repeat;
    background-image: url("../IMG/signinbj.jpg");
}
.position{
    font-size: 13px;
    color: rgb(241,1,128);
}
.position a{
    color: rgb(117,117,117);
}
.position a:hover{
    color: rgb(241,1,128);
}
.logoinformation{
    border-radius: 20px;
    float: right;
    width: 600px;
    height: 600px;
    margin-right: 120px;
    margin-top: 70px;
    overflow: scroll;
    }
.logoinformation hr{
    color: rgb(224,224,224);
    background-color: rgb(224,224,224);
}
.logoinformation a:hover{
    color: rgb(241,1,128);
}
.logoinformation input[type=file]{
    width: 85%;
    height: 40px;
    border: 1px solid rgb(178,178,178);
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}
.logoinformation input[type=text],.logoinformation input[type=password],.logoinformation input[type=number]{
    width: 85%;
    height: 40px;
    border: 1px solid rgb(178,178,178);
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;

}
.logoinformation input[type=submit]{
    float: left;
    width: 85%;
    height: 50px;
    background-color:rgb(241,1,128);
    color: white;
    text-align: center;
    border: none;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}
.logoinformation input[type=submit]:hover{
    background-color:rgb(255,1,180);

}
.logoinformation select{
    width: 85%;
     height: 40px;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid rgb(178,178,178);
    font-size: 15px;
    color: rgb(109,109,109);
}
.logoinformation p{
    margin-left: 30px;
    font-size: 12px;
    color: red;
}


.footer{
    background-color: rgb(224,224,224);
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: rgb(111,111,111);
    padding-top: 25px;
}
