*{
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: rgb(255,255,255);
    text-decoration: none;
}

.topnav{
    position: sticky;
    top: 0;
    width: 100%;
    height: 10%;
    overflow: hidden;
    background-color: rgb(245,245,245);
    border-bottom: 2px solid silver;
    z-index: 100;
    }
.topnavin{
    color: rgb(54,54,54);
    padding-bottom: 25px;
    padding-top: 10px;
    font-size: 12px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(245,245,245);
    }
.visitsum{
    background-color: rgb(245,245,245);
    color: rgb(54,54,54);
    }
.topnav a{
    background-color: rgb(245,245,245);
    color: rgb(54,54,54);
    }
.place{
    float: left;
    padding-left: 10px;
    width: 5%;
    height: 100%;
    background-color: rgb(245,245,245);
    }
.nav{
    float: right;
    width: 91%;
    height: 100%;
    background-color: rgb(245,245,245);
    }
.topnavul{
    background-color: rgb(245,245,245);
    }
.topnavul li{
    display: block;
    float: right;
    margin-left: 15px;
    background-color: rgb(245,245,245);
    }
.topnavul li a:hover{
    color: rgb(241,1,128);
    }



.logo{
    width: 70%;
    height: 130px;
    margin: 0 auto;
    padding-top: 7px;
}
.sublogo{
    width: 50%;
    height: 70px;
    float: right;
    margin-right: -330px;
}





.information{
    width: 100%;
    height: 1050px;
    background-size: cover;
    margin-top: -55px;
    background-repeat: no-repeat;
    background-image: url("../IMG/banner2.jpg");
    border: 1px solid transparent;
}
.position{
    font-size: 13px;
    color: rgb(241,1,128);
}
.position a{
    color: rgb(117,117,117);
}
.position a:hover{
    color: rgb(241,1,128);
}
.logoinformation{
    background-color: rgb(255,255,255);
    width: 50%;
    height: 750px;
   margin: 0 auto;
    margin-top: 70px;
    border: 1px solid transparent;

}
.biaoti{
    width: 100%;
    color:black;
    font-size: 15px;
    background-color:rgb(249,249,249);
    border-bottom: 1px solid rgb(236,236,236);
    height: 40px;
}
.xinxi{
    margin-top: 35px;
    background-color: inherit;
}
.xinxi table{
    width: 80%;
    height: 500px;
    margin:  0 auto;
}
.xinxi table span{

}
.xinxi table input[type=text],input[type=number],input[type=password]{
    width: 250px;
    height: 40px;
    border: 1px solid rgb(178, 178, 178);
    margin-left: -200px;
    }
.xinxi table input[type=submit],input[type=button]{
    margin-top: 80px;
    width: 42%;
    height: 40px;
    background-color:rgb(241,1,128);
    color: white;
    text-align: center;
    border: none;
}
.xinxi table a:hover{
    color: rgb(241,1,128);
}
#exit{
    margin-left: -100px;
}
.xinxi table input[type=submit]:hover,input[type=button]:hover{
    background-color:rgb(255,1,180);

}
.touxiang{
    width: 80%;
    height: 100px;
    margin:  0 auto;
}
.touxiang img{

    border: 5px white;
    border-radius: 25px;
    box-shadow:10px 10px 5px #888888;
    float: left;

}
.touxiangword{
padding-top: 40px;
    width: 40%;
    margin-left: 20px;
    font-size: 20px;
    float: left;
}
.logoinformation span{
    background-color: inherit;
}



.footer{
    background-color: rgb(224,224,224);
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: rgb(111,111,111);
    padding-top: 25px;
}